---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Icons/astro-icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | My Astro Site</title>
  </head>
  <body class="bg-gradient-to-br from-indigo-900 to-sky-900 min-h-screen flex flex-col">
    <Header />
    <div class="flex-1 relative">
      <main class="container mx-auto px-4 pt-16 sm:pt-20 md:pt-24">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>